<div class="row-wrap">
  <div class="w-100">
    <div class="row">
      <div class="col-xs-12">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-top: 15px;">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/stores/fixed-assets/document-register']">
                <mat-icon>grid_on</mat-icon> Document Register
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/stores/fixed-assets/maintenance']">
                <mat-icon>crop_square</mat-icon> Maintenance
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/stores/fixed-assets/new-asset']">
                <mat-icon>place </mat-icon> New Asset
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/stores/fixed-assets/site-transfers']">
                <mat-icon>av_timer </mat-icon> Site Transfers
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>