



<div fxLayout="row wrap" #resizedDiv>
<div class="flex-p w-100">

  <div fxLayout="row wrap" class="col-sm-12">

    <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p w-100">
      <div fxLayout="column">
        <mat-card>
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-subtitle>
              <h2>Total Outstanding</h2>
            </mat-card-subtitle>
          </mat-card-header>
          <div class="w-100 h-300p">
            <ngx-charts-bar-horizontal [scheme] ="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
           </ngx-charts-bar-horizontal>
          </div>
        </mat-card>
      </div>
    </div>
  
  
    <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p col-sm-6">
      <div fxLayout="column">
        <mat-card>
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-subtitle>
              <h2>Vendors</h2>
            </mat-card-subtitle>
          </mat-card-header>
          <div class="w-100 h-300p">
            <ngx-charts-pie-chart [scheme]="colorScheme" [results]="OverDue" [legend]="showLegend"
              [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient"
              [maxLabelLength]="100" >
            </ngx-charts-pie-chart>
          </div>
        </mat-card>
      </div>
    </div>
  
   
   
  </div>
  


<div class="row" style="margin-bottom:7px;">
  <div class="col-xs-6 ">
  </div>
  <div class="col-xs-6 ">
      <div class="flex-p">
         
          <button mat-raised-button  class="pull-right  btn-primary filters-hover margin-right-10"  (click)="addpayable()"
          >
          <mat-icon>add</mat-icon>Add Payables
      </button>
      
  </div>
  
</div>
</div>




<div class="row">
  <div class="col-xs-12">
      <div id="grid-table-container" class="table-responsive">
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr>
                      <th >Vendor/SC Name</th>
                      <th class="text-center">Invoice #</th>
                      
                      <th class="text-center">Invoive Amount</th>
                      <th class="text-center">Freight Charges</th>
                      <th class="text-center">Total Amount</th>
                      <th class="text-center">Incharge</th>
                      <th class="text-center">Due Date</th>
                      <th class="text-center">Remarks</th>
                      <th class="text-center">Payment</th>
                      <th class="text-center">Status</th>
                     
                    
                      <th class="text-center" style="width: 112px!important;">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of items">
                      <td style="min-width: 70px !important;">
                          {{item.vendor}}
                    
                  </td>
                  <!-- <td style="text-align: center!important;">{{item.projectNumber}}</td> -->
                  
                  <td style="text-align: center!important;">{{item.invoice }}</td>
                  <td style="text-align: center!important;">{{item.amount}}</td>
                  <td style="text-align: center!important;">{{item.charges }}</td>
                  <td style="text-align: center!important;">{{item.total }}</td>
                  <td style="text-align: center!important;">{{item.incharge}}</td>
                  <td style="text-align: center!important;">{{item.duedate }}</td>
                  <td style="text-align: center!important;">
                   {{item.remarks}}
                  </td>
                  <td style="text-align: center!important;"><a href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" target="_blank" style="color: blue;cursor: pointer;">View</a></td>
                  <td style="text-align: center!important;">{{item.status }}</td>
             
         
                  
      <td  class="text-center">
          <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
              <i class="fa fa-edit" style="color: cornflowerblue"></i>
          </a>
        
          <a ><i class="fa fa-trash red" matTooltip="Delete Item"  style="cursor: pointer;"></i></a>
      </td> 
  </tr>
 
</tbody>
</table>
<mat-paginator
[pageSizeOptions]="[5, 10, 25, 50, 100]"
showFirstLastButtons></mat-paginator>
<!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)"
  showFirstLastButtons></mat-paginator> -->
</div>
</div>
</div>

  </div>
</div>