
<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
<div class="row" style="margin-bottom:7px;">
  <div class="col-xs-6 ">
  </div>
  <div class="col-xs-6 ">
      <div class="flex-p">
         
          <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10" (click)="openUserDialog('add')"
          >
          <mat-icon>filter_list</mat-icon> Add Drawing
      </button>
      
  </div>
  
</div>
</div>




<div class="row">
  <div class="col-xs-12">
      <div id="grid-table-container" class="table-responsive">
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr>
                      <th >Drawing Serial</th>
                      <th class="text-center">Drawing Name</th>
                      
                      <th class="text-center">Description</th>
                      <th class="text-center">BOQ Ref</th>
                      <th class="text-center">Activities</th>
                      <th class="text-center">Prepared By</th>
                      <th class="text-center">Current Version</th>
                      <th class="text-center">Previous Version</th>
                      <th class="text-center">Status</th>
                    
                      <th class="text-center" style="width: 112px!important;">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of items">
                      <td style="min-width: 70px !important;">
                          {{item.serial}}
                    
                  </td>
                  <!-- <td style="text-align: center!important;">{{item.projectNumber}}</td> -->
                  
                  <td style="text-align: center!important;">{{item.name }}</td>
                  <td style="text-align: center!important;">{{item.description }}</td>
                  <td style="text-align: center!important;">{{item.boqref }}</td>
                  <td style="text-align: center!important;">{{item.activities }}</td>
                  <td style="text-align: center!important;">{{item.prepared }}</td>
                  <td style="text-align: center!important;">
                    <a href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf" target="_blank">View</a>
                  </td>
                  <td style="text-align: center!important;"><a (click)="openpreviousDialog('add')" style="color:#007ad9;cursor:pointer;">{{item.previous}}</a></td>
                  <td style="text-align: center!important;"><a style="color: blue;"> {{item.status }}</a></td>
         
                  
      <td  class="text-center">
          <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item">
              <i class="fa fa-edit" style="color: cornflowerblue"></i>
          </a>
          <a style="cursor: pointer;margin-right:10px; " matTooltip="Append New Version" (click)="openNewDialog('add')">
            <i class="fa fa-plus" style="color: cornflowerblue"></i>
        </a>
          <a ><i class="fa fa-trash red" matTooltip="Delete Item"  style="cursor: pointer;"></i></a>
      </td> 
  </tr>
 
</tbody>
</table>
<mat-paginator
[pageSizeOptions]="[5, 10, 25, 50, 100]"
showFirstLastButtons></mat-paginator>
<!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)"
  showFirstLastButtons></mat-paginator> -->
</div>
</div>
</div>

  </div>
</div>