<!-- <div class="row-wrap">
  <div class="w-100">
    <div class="row">
      <div class="col-xs-12">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-top: 15px;">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/stores/vechiles/driver-allocation/listwithdrivers']">
                 Vehicle List with Drivers
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/stores/vechiles/driver-allocation/listwithoutdrivers']">
               Vehicle List without Drivers
              </a>
            </li>
           
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>