

<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">



<div class="row" style="margin-bottom:7px;">
  <div class="col-xs-6 ">
  </div>
  <div class="col-xs-6 ">
      <div class="flex-p">
        <button mat-raised-button  class="pull-right  btn-primary filters-hover margin-right-10" (click)="openAdd()" 
        >
        <mat-icon>add</mat-icon>Add RFB
    </button>
    
    
  </div>
</div>
</div>       
<div class="row">
<div class="col-xs-12">
    <div id="grid-table-container" class="table-responsive">
        <table matSort id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr>
                    <th >Category</th>
                    <th class="text-center">Item</th>
                    <th class="text-center">Unit</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td  style="min-width: 70px !important;"><a>
                     {{item.Select_Category}}   
                    </a>
                </td>
                <!-- <td style="text-align: center!important;">{{item.projectNumber}}</td> -->
                <td style="text-align: center!important;">{{item.Select_Item}} </td>
                <td style="text-align: center!important;">{{item.Unit}} </td>
                <td style="text-align: center!important;">{{item.Quantity}} </td>
                <td style="text-align: center!important;">{{item.Remarks}} </td>                  
                <!--<td style="text-align: center!important;"><a style="cursor:pointer" href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" target="_blank"><mat-icon>visibility</mat-icon></a></td>-->
               
</tr>

</tbody>
</table>
<mat-paginator 
[pageSizeOptions]="[9, 10, 25, 50, 100]"
showFirstLastButtons></mat-paginator>
<!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
[pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)"
showFirstLastButtons></mat-paginator> -->
</div>
</div>
</div>
  </div>
  
</div>
