
<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
<div class="row" style="margin-bottom:7px;">
  <div class="col-xs-6 ">
  </div>
  <div class="col-xs-6 ">
      <div class="flex-p">
         
        <button  style="margin-bottom:10px;margin-right: 10px;" mat-raised-button class="pull-right btn-primary" (click)="openAddBill()">
          <mat-icon>add</mat-icon> Add SC RA Bill
      </button>
      
  </div>
  
</div>
</div>




<div class="row">
  <div class="col-xs-12">
      <div id="grid-table-container" class="table-responsive">
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr>
                      <th >Sub Contractor</th>
                      <th class="text-center">Date Time</th>
                      
                      <th class="text-center">Subject</th>
                      <th class="text-center">Bill #</th>
                      <th class="text-center">Billed (In Lakhs)</th>
                      <th class="text-center">Items</th>
                      <th class="text-center">Paid (In Lakhs)</th>
                      <th class="text-center">Status</th>
                    
                      <th class="text-center" style="width: 112px!important;">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of items">
                      <td style="min-width: 70px !important;">
                          {{item.Sub_Contractor}}
                    
                  </td>
                  <!-- <td style="text-align: center!important;">{{item.projectNumber}}</td> -->
                  
                  <td style="text-align: center!important;">{{item.Date_Time}}</td>
                  <td style="text-align: center!important;">{{item.Subject }}</td>
                  <td style="text-align: center!important;">{{item.Bill }}</td>
                  <td style="text-align: center!important;">{{item.Billed }}</td>
                  <td style="text-align: center!important;" (click)="openItemsDialog()"><a style="color: blue;"> {{item.Items }}</a></td>
                  <td style="text-align: center!important;">{{item.Paid }}</td>
                  <!--<td style="text-align: center!important;">{{item.Incharge }}</td>
                  <td style="text-align: center!important;">
                    <a href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf" target="_blank">View</a>
                  </td>
                  <td style="text-align: center!important;"><a (click)="openpreviousDialog('add')" style="color:#007ad9;cursor:pointer;">{{item.previous}}</a></td>-->
                  <td style="text-align: center!important;"><a style="color: blue;"> {{item.Status }}</a></td>
         
                  
      <td  class="text-center">
          <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item" >
              <i class="fa fa-edit" style="color: cornflowerblue"></i>
          </a>
          
          <a ><i class="fa fa-trash red" matTooltip="Delete Item"  style="cursor: pointer;"></i></a>
      </td> 
  </tr>
 
</tbody>
</table>
<mat-paginator
[pageSizeOptions]="[5, 10, 25, 50, 100]"
showFirstLastButtons></mat-paginator>
<!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)"
  showFirstLastButtons></mat-paginator> -->
</div>
</div>
</div>

  </div>
</div>