
<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
<div class="row" style="margin-bottom:7px;">
  <div class="col-xs-6 ">
  </div>
  <div class="col-xs-6 ">
      <div class="flex-p">
        <button mat-raised-button class="pull-right  btn-primary" (click)="opencontactDialog()">
            <mat-icon>add</mat-icon> Add Stock Transfer Request
        </button>
         
         
      
  </div>
  
</div>
</div>






<div class="row">
  <div class="col-xs-12">
      <div id="grid-table-container" class="table-responsive">
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr>
                      <th >Serial #</th>
                      <th class="text-center">Stock Transfer #</th>
                      
                      <th class="text-center">Request Title</th>
                      <th class="text-center">Project</th>
                      <th class="text-center">Category</th>
                     
                      <th class="text-center">Requested Items</th>
                      <th class="text-center">Approved Items</th>
                      <th class="text-center">Status</th>
                      
                     
                    
                      <th class="text-center" style="width: 112px!important;">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of items">
                      <td style="min-width: 70px !important;">
                          {{item.serial}}
                    
                  </td>
                  <!-- <td style="text-align: center!important;">{{item.projectNumber}}</td> -->
                  
                  <td style="text-align: center!important;">{{item.stockno }}</td>
                  <td style="text-align: center!important;">{{item.title }}</td>
                  <td style="text-align: center!important;">{{item.project }}</td>
                  <td style="text-align: center!important;">{{item.cat }}</td>
                 
                  <td style="text-align: center!important;">
                  {{item.reqitem}}
                  </td>
                  <td style="text-align: center!important;">
                    {{item.appitem}}
                    </td>
                 
                  <td style="text-align: center!important;">{{item.status }}</td>
         
                  
      <td  class="text-center">
          <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item" (click)="openProjectDialog(item)">
              <i class="fa fa-edit" style="color: cornflowerblue"></i>
          </a>
          <a ><i class="fa fa-trash red" matTooltip="Delete Item"  style="cursor: pointer;"(click)="openDeleteDialog(item)"></i></a>
      </td> 
  </tr>
 
</tbody>
</table>
<mat-paginator
[pageSizeOptions]="[5, 10, 25, 50, 100]"
showFirstLastButtons></mat-paginator>
<!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)"
  showFirstLastButtons></mat-paginator> -->
</div>
</div>
</div>

  </div>
</div>