<div style="margin-top: 25px;margin-left:10px;width: 40%;">
  <h4>Final Bill Due Amount : Rs. 1,20,000</h4><br>
  <h4><a style="color: blue;cursor: pointer;">Click here</a> to post final Bill</h4><br>
  <h4>Subject: Final Completion Invoice</h4><br>
  <h4>Description : Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h4><br>
  <h4>Paid Amount : Rs. 1,11,000</h4><br>
  <h4>Balance Amount : Rs. 1,00,000</h4><br>
  <h4>Expected Pay Date : 30 Nov 2020</h4>

  
  <button  style="margin-top: 25px;" mat-raised-button class=" btn-primary"  >
    Update
</button>
  


</div>