<p class="col-sm-12" style="margin-top: 20px !important;">
  <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Name:</span>
  <span style="font-size: 16px; margin-right: 8px">Raheja</span>
  <span class="pull-right" style="font-size: 16px; margin-right: 8px;margin-top: 2px;"> Active</span>
  <span class="pull-right" style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Status:</span>
  
  <!-- <span style="font-size: 16px; margin-right: 8px">(Toronto Towers) </span> -->
</p>
<div class="row super-row" style="padding: 5px 24px 10px 23px">
  <a routerLinkActive="active-link" routerLink="/mrc/projects/project-dashboard/analytics"
  class="col-sm font-color">Analytics
  <br /> </a>
  <a routerLinkActive="active-link" routerLink="/mrc/projects/project-dashboard/ra-bills" class="col-sm font-color">RA Bills
      <br /></a>
      <!-- <a routerLinkActive="active-link" routerLink="/mrc/projects/project-dashboard/contracts"
      class="col-sm font-color">Contracts
      <br /></a> -->
      
      <a routerLinkActive="active-link" routerLink="/mrc/projects/project-dashboard/tasks"
      class="col-sm font-color" >Tasks
      <br /> </a>
 
          
          <a routerLinkActive="active-link" routerLink="/mrc/projects/project-dashboard/mis"
          class="col-sm font-color">MIS
          <br /></a>
          <a routerLinkActive="active-link" routerLink="/mrc/projects/project-dashboard/budget"
          class="col-sm font-color">Budget
      </a>
      <a routerLinkActive="active-link" routerLink="/mrc/projects/project-dashboard/billing"
      class="col-sm font-color">Billing
  </a>
                  
      </div>
      
      <div class="w-100">
          <div class="flex-p">
              <div class="row wrap">
                  <div class="col-sm-12 no-padding">
                      <router-outlet></router-outlet>
                  </div>
              </div>
          </div>