<p class="col-sm-12" style="margin-top: 20px !important;">
  <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Contract Name:</span>
  <span style="font-size: 16px; margin-right: 8px">P-12564</span>
  <span class="pull-right" style="font-size: 16px; margin-right: 8px;margin-top: 2px;"> Active</span>
  <span class="pull-right" style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Status:</span>
  
  <!-- <span style="font-size: 16px; margin-right: 8px">(Toronto Towers) </span> -->
</p>
<div fxLayout="row" class="super-row" style="padding: 5px 8px 10px 8px">
  <a routerLinkActive="active-link" routerLink="/mrc/contracts/project-dashboard/analytics"
  class="col-sm font-color">Analytics
  <br /> </a>
  <a routerLinkActive="active-link" routerLink="/mrc/contracts/project-dashboard/bill-of-quantities" class="col-sm font-color">BOQ
      <br /></a>
      <a routerLinkActive="active-link" routerLink="/mrc/contracts/project-dashboard/project-planning"
      class="col-sm font-color">Planning
      <br /></a>
      
      <a routerLinkActive="active-link" routerLink="/mrc/contracts/project-dashboard/documents-and-drawing"
      class="col-sm font-color" >Docs 
      <br /> </a>
 
          
          <a routerLinkActive="active-link" routerLink="/mrc/contracts/project-dashboard/billing"
          class="col-sm font-color">Billing
          <br /></a>
          <a routerLinkActive="active-link" routerLink="/mrc/contracts/project-dashboard/project-site"
          class="col-sm font-color">Progress Updates
      </a>
      <a routerLinkActive="active-link" routerLink="/mrc/contracts/project-dashboard/closure"
      class="col-sm font-color">Closure
  </a>
      <!-- <a routerLinkActive="active-link" routerLink="/ibs/projects/project-dashboard/manage" class="col-sm font-color">Manage
          <br /></a> -->
          <!--   
              <a routerLinkActive="active-link" routerLink="/bw/manage/projects/project-dashboard/tender" class="col-sm font-color">Tender
                  <br /> </a> -->
                  
      </div>
      
      <div class="w-100">
          <div class="flex-p">
              <div class="row wrap">
                  <div class="col-sm-12 no-padding">
                      
                  </div>
              </div>
          </div>