<div class="NewHeader">
  <h1 mat-dialog-title>
    Work Details History
  </h1>
</div>

<div style="width: 100%;padding:15px 0;border-top: 1px solid blue;border-bottom: 1px solid blue;" fxLayout="row" fxLayoutAlign="center center">
  <p style="font-weight: bold;">25-Nov-2020 11:36</p>
  <p style="margin-left: 15px;">Push large quantities of soil &  similar material at the particular site </p>
</div>
<div style="width: 100%;padding:15px 0;border-top: 1px solid blue;border-bottom: 1px solid blue;" fxLayout="row" fxLayoutAlign="center center">
  <p style="font-weight: bold;">25-Nov-2020 11:36</p>
  <p style="margin-left: 15px;">Push large quantities of soil &  similar material at the particular site </p>
</div>
<div style="width: 100%;padding:15px 0;border-top: 1px solid blue;border-bottom: 1px solid blue;" fxLayout="row" fxLayoutAlign="center center">
  <p style="font-weight: bold;">25-Nov-2020 11:36</p>
  <p style="margin-left: 15px;">Push large quantities of soil &  similar material at the particular site </p>
</div>
<div style="width: 100%;padding:15px 0;border-top: 1px solid blue;border-bottom: 1px solid blue;" fxLayout="row" fxLayoutAlign="center center">
  <p style="font-weight: bold;">25-Nov-2020 11:36</p>
  <p style="margin-left: 15px;">Push large quantities of soil &  similar material at the particular site </p>
</div>
<div style="width: 100%;padding:15px 0;border-top: 1px solid blue;border-bottom: 1px solid blue;" fxLayout="row" fxLayoutAlign="center center">
  <p style="font-weight: bold;">25-Nov-2020 11:36</p>
  <p style="margin-left: 15px;">Push large quantities of soil &  similar material at the particular site </p>
</div>
<div style="width: 100%;padding:15px 0;border-top: 1px solid blue;border-bottom: 1px solid blue;" fxLayout="row" fxLayoutAlign="center center">
  <p style="font-weight: bold;">25-Nov-2020 11:36</p>
  <p style="margin-left: 15px;">Push large quantities of soil &  similar material at the particular site </p>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary"> <span
           >Save</span></button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Close</button>
</mat-dialog-actions> 
