<div class="NewHeader">
  <h1 mat-dialog-title>
    Add Applicant
  </h1>
</div>
<div mat-dialog-content>
  <form class="form-horizontal">
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Job Code: </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="Enter Job Code" required>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Applicant Name: </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="text" class="form-control" placeholder="Enter Applicant Name" required>

          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Gender: </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            
            <select name="prospect" class='form-control' required>
              <option value="" selected>--Select Gender--</option>
             <option>Male  </option> 
             <option>Femaale  </option> 
          </select>
          </div>
      </div>
      
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Current Employer: </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="Employer Name" required>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Experience: </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="email" email class="form-control" placeholder="Enter Experience" required>
          </div>
      </div>
     
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Email: </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="email" class="form-control" placeholder="Enter Email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Phone: </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="text" class="form-control" placeholder="Enter Phomne Number" required>
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Date of Birth: </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="text" class="form-control" placeholder="Enter Date of Birth" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Place: </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="text"  class="form-control" placeholder="Enter Native" required>
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Resume: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="file" class="form-control" placeholder="Upload Resume" required>
      </div>
  </div>
 
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary" ><span >Save</span></button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions>
