<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
<div class="row" style="margin-bottom:7px;">
  <div class="col-xs-6 ">
  </div>
  <div class="col-xs-6 ">
      <div class="flex-p">
          <button mat-raised-button class="pull-right  btn-primary" (click)="opencontactDialog()">
              <mat-icon>add</mat-icon> Add Extra Item
          </button>
          
          <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10"
          (click)="filterToggle = !filterToggle">
          <mat-icon>filter_list</mat-icon> Filter
      </button>
      
  </div>
  
</div>
</div>

<div fxLayout="row wrap" *ngIf="filterToggle">
  <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
      <mat-card class="filter">
          <mat-card-content>
              <div class="row">
                  <div class="col-sm-4">
                      <div class="col-sm-4 newMarginClass">
                          Serial #: 
                      </div>
                      <div class="col-sm-8">
                          <input type="text" placeholder="Search by Serial #" class="form-control" [formControl]="contactName">
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="col-sm-4 newMarginClass">
                          Category: 
                      </div>
                      <div class="col-sm-8">
                          <input type="text" placeholder="Search by Category" class="form-control" [formControl]="clientName">
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="col-sm-4 newMarginClass">
                          Status: 
                      </div>
                      <div class="col-sm-8">
                        <mat-select class="form-control" placeholder="Search by Status">
                         <mat-option>Approved</mat-option>
                         <mat-option>Pending</mat-option>
                         <mat-option>Declined</mat-option>
                        </mat-select>
                      </div>
                  </div>
              </div>
              
             
              <div class="row" style="padding-top:10px !important">
                
                  <div class="col-lg-1" style="margin-left:80%!important;">
                      <button mat-raised-button  class="pull-right btn-primary"> Search</button>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                      <button mat-raised-button style="background-color:#37474f; color:#fff !important" > Clear</button>
                  </div>
                  <a (click)="filterToggle = !filterToggle" class="pull-right" style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                  </a>
                  
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>



<div class="row">
  <div class="col-xs-12">
      <div id="grid-table-container" class="table-responsive">
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr>
                      <th >New Serial #</th>
                      <th class="text-center">Category</th>
                      <th class="text-center">Item Description</th>
                      <th class="text-center">Unit</th>
                      <th class="text-center">Quantity Proposed</th>
                      <th class="text-center">Quantity Approved</th>
                      <th class="text-center">Rate Proposed</th>
                      <th class="text-center">Rate Approved</th>
                      <th class="text-center">Status</th>
                    
                      <th class="text-center" style="width: 112px!important;">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of items">
                      <td style="min-width: 70px !important;">
                          {{item.serial}}
                    
                  </td>
                  <!-- <td style="text-align: center!important;">{{item.projectNumber}}</td> -->
                  <td style="text-align: center!important;">{{item.category }}</td>
                  <td style="text-align: center!important;">{{item.description }}</td>
                  <td style="text-align: center!important;">{{item.unit }}</td>
                  <td style="text-align: center!important;">{{item.qtyproposed }}</td>
                  <td style="text-align: center!important;">{{item.qtyapproved }}</td>
                  <td style="text-align: center!important;">{{item.rateproposed }}</td>
                  <td style="text-align: center!important;">{{item.rateapproved }}</td>
                  <td style="text-align: center!important;">{{item.status }}</td>
         
                  
      <td  class="text-center">
          <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Item" (click)="openProjectDialog(item)">
              <i class="fa fa-edit" style="color: cornflowerblue"></i>
          </a>
          <a ><i class="fa fa-trash red" matTooltip="Delete Item"  style="cursor: pointer;"(click)="openDeleteDialog(item)"></i></a>
      </td> 
  </tr>
 
</tbody>
</table>
<mat-paginator
[pageSizeOptions]="[5, 10, 25, 50, 100]"
showFirstLastButtons></mat-paginator>
<!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)"
  showFirstLastButtons></mat-paginator> -->
</div>
</div>
</div>

  </div>
</div>