<div fxLayout="row wrap">
  <div class="w-100">
    <div fxLayout="row">
      <div class="col-xs-12">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-top: 15px;">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/accounting/receivables/daily-income']">
                <mat-icon>grid_on</mat-icon> Daily Income
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/accounting/receivables/payments']">
                <mat-icon>crop_square</mat-icon> Payments
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" [routerLink]="['/mrc/accounting/receivables/rentals']">
                <mat-icon>place </mat-icon> Rentals
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>