<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">

      <div class="row" style="margin-bottom:14px;">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="w-100 flex-p">
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="w-100 flex-p">
                  <button mat-raised-button class="add-hover pull-right" style="background:#229494;color: white;" (click)="openUserDialog('Add')"><mat-icon>add</mat-icon>&nbsp;Add
                      Checklist</button>
              </div>
          </div>
      </div>


      <div class="table-responsive">
          <table id="example2" class="table table-bordered table-hover table-striped">
              <thead class="tbl-head">
                  <tr class="tr-grid-header">
                      <th>Checklist Name</th>
                      <th>Checklist Items</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tableList">
                      <td>{{item.name}}</td>
                      <td>
                        <a (click)="openUserDialog('Edit')" class="status" style="text-decoration: underline !important;">
                          {{item.count}}
                        </a>
                      </td>
                      <td>
                          <a (click)="openUserDialog('Edit')" style="margin-right: 10px; cursor: pointer;">
                              <i title="Edit" class="fa fa-edit"></i>
                          </a>
                          <a mwlConfirmationPopover
                                  [popoverTitle]="popoverTitle"
                                  [popoverMessage]="popoverMessage"
                                  placement="left"
                                  (confirm)="deleteLookup()"
                                  (cancel)="cancelClicked = true">
                                      <i style="cursor: pointer;" title="Delete User" class="fa fa-trash red"></i>
                                  </a>
                              <!-- <i title="Delete" style="color:red;" class="fa fa-trash"></i> -->
                          
                      </td>

                  </tr>
              </tbody>
          </table>

      </div>
  </div>

</div>
