<div class="NewHeader">
  <h1 mat-dialog-title>
    Add Gate Pass
  </h1>
</div>
<div mat-dialog-content>
  <form class="form-horizontal">
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Gate Pass : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="Enter Gate Pass" required>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Contact Person : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="text" class="form-control" placeholder="Enter Contact" required>

          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Item Category : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <mat-select class="form-control" placeholder = "Select Item">
              <mat-option>Pickup</mat-option>
              <mat-option>Drop</mat-option>
             
            </mat-select>
           
          </div>
      </div>
      
      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Driver Name : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <input type="text" class="form-control" placeholder="Enter Driver Name" required>
          </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Driver Number : </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="text" class="form-control" placeholder="Enter Driver Number" required>
        </div>
    </div>

      <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Vechile Number : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="text" class="form-control" placeholder="Enter Vechile Number" required>
          </div>
      </div>
      <div class="form-group">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Remarks : </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="text" class="form-control" placeholder="Enter Remarks" required>
        </div>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary" ><span >Save</span></button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions>
