<!--This page is used to manage locations-->
<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">
        <div class="row" style="margin-bottom:5px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input type="text" class="form-control" placeholder="Search by State" >
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                    <button mat-raised-button class="pull-right btn-success" (click)="openStateDialog('Add State')">
                        <mat-icon>person_add</mat-icon> Add State
                    </button>
                    <button mat-raised-button class="btn-default" style="float:right;margin-right: 10px" (click)="goBack()"><i class="fa fa-arrow-left"></i>Back</button>
                </div>
            </div>
        </div>
        
        <div class="table-responsive topmargin">
            <table id="example2" class="table table-bordered table-hover table-striped">
                <thead class="tbl-head">
                    <tr class="tr-grid-header">
                        <!-- <th><input type="checkbox" name="select_all"/></th> -->
                        <th>State</th>
                        <th>Cities</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let state of states">
                        <!-- <td><input type="checkbox" name="select_single"></td> -->
                        <td>{{state.state}}</td>
                        <td>
                            <div>
                                <a routerLink="15">{{state.number}}</a>
                            </div>
                        </td>
                        <td>
                            <a 
                            class="status"
                            mwlConfirmationPopover
                            [popoverTitle]="popoverStatusTitle"
                            [popoverMessage]="popoverStatusMessage"
                            placement="left"
                            (confirm)="saveStatus();state.status=!state.status"
                            (cancel)="cancelClicked = true">
                            {{state.status?'Active':'Inactive'}}
                        </a>
                    </td>
                    <td>
                        <a title="Edit State" style="margin-right: 10px; cursor: pointer;" (click)="openStateDialog('Update State')">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a mwlConfirmationPopover
                        [popoverTitle]="popoverTitle"
                        [popoverMessage]="popoverMessage"
                        placement="left"
                        (confirm)="deleteState()"
                        (cancel)="cancelClicked = true">
                        <i style="cursor: pointer;" title="Delete State" class="fa fa-trash red"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>